.profileContents {
  margin: 0 auto;
  width: 80%;
  .profileNav .pageNav {
    display: block;
    span {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
  .profileNav .pageTitle {
    font-weight: bold;
    font-size: 3rem;
  }
  .personalInfoMain {
    display: flex;
    justify-content: space-between;
    .personalInfoLeft {
      width: 55%;
      .personalInfoBox {
        ul {
          border-bottom: 0.1px solid black;
          padding: 30px 5px 30px 5px;
          display: flex;
          justify-content: space-between;
          .infoBoxLeft {
            width: 90%;
            .userName {
              font-weight: bold;
              font-size: 1.3rem;
            }
            .userNameAnswer {
              font-size: 1.2rem;
            }
          }
          .editBox {
            display: flex;
            justify-content: flex-end;
            width: 10%;
            span {
              font-weight: bold;
              font-size: 1.2rem;
            }
          }
        }
        .infoCard1 {
          display: none;
        }
      }
    }
    .personalInfoRight {
      display: flex;
      justify-content: flex-end;
      width: 45%;
      .infoCard2 {
        box-sizing: border-box;
        width: 55%;
        border: 1px solid black;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .profileContents .personalInfoMain {
    .personalInfoLeft {
      width: 100%;
      .personalInfoBox {
        .lastInfoBox {
          border-bottom: none;
        }
        .infoCard1 {
          display: block;
          // margin-top: 10px;
          padding: 15px;
          border: 1px solid black;
        }
      }
    }
    .personalInfoRight {
      display: none;
    }
  }
}
