.contentsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1px solid lightgray;
  height: 50px;
  padding: 0 20px;
  .logo {
    width: 15vh;
  }
  .middle {
    padding-top: 10px;
    .middleUl {
      padding: 3px;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      // align-items: center;
      border: 1px solid lightgray;
      border-radius: 10px;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
      font-size: 0.8rem;
      margin-top: 5px;
      li {
        padding: 5px;
        display: flex;
        align-items: center;
        div:first-child {
          font-weight: bold;
        }
        div {
          padding: 0 5px 0 5px;
          font-size: 0.7rem;
        }
        .fa-search {
          color: #ff385c;
        }
      }
    }
  }
  .menu {
    margin-top: 0;
    ul {
      width: 200px;
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
      font-weight: bold;
      align-items: center;
      padding-bottom: 15px;
    }
  }
}
@media only screen and (max-width: 850px) {
  header {
    height: 70px;
  }
  .middle {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .logo,
  .menu,
  .contentsMain {
    display: none;
  }
}
