footer {
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: space-between;
  .footerFirstChild {
    list-style: none;
    width: 40%;
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
  }
  .footerSecondChild {
    list-style: none;
    width: 20%;
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
  }
}
