// $mainCol: #BADA55;
@charset "utf-8";
@import "~bootstrap/scss/bootstrap";
// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

//Section
.mg-tb-10 {
  margin: 10px 0;
}
.pTitle {
  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 1px solid black;
}
.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .column {
    padding: 0 10px;
  }
  .column1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .column2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .column3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .column4 {
    grid-area: 1 / 4 / 2 / 5;
  }
}

@media only screen and (max-width: 850px) {
  .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .column1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .column2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .column3 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .column4 {
      grid-area: 2 / 2 / 3 / 3;
    }
  }
}

@media only screen and (max-width: 450px) {
  .columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .column1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .column2 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .column3 {
      grid-area: 3 / 1 / 4 / 2;
    }
    .column4 {
      grid-area: 4 / 1 / 5 / 2;
    }
  }
}

//Header
.contentsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1px solid lightgray;
  height: 50px;
  padding: 0 20px;
  .logo {
    width: 15vh;
  }
  .middle {
    padding-top: 10px;
    .middleUl {
      padding: 3px;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      // align-items: center;
      border: 1px solid lightgray;
      border-radius: 10px;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
      font-size: 0.8rem;
      margin-top: 5px;
      li {
        padding: 5px;
        display: flex;
        align-items: center;
        input {
          text-align: center;
          border: none;
        }
        div:first-child {
          font-weight: bold;
        }
        div {
          padding: 0 5px 0 5px;
          font-size: 0.7rem;
        }
        .fa-search {
          color: #ff385c;
        }
      }
    }
  }
  .menu {
    margin-top: 0;
    ul {
      width: 200px;
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
      font-weight: bold;
      align-items: center;
      padding-bottom: 15px;
    }
  }
}
@media only screen and (max-width: 1050px) {
  header {
    height: 70px;
  }
  .middle {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 750px) {
  .logo,
  .menu,
  .contentsMain {
    display: none;
  }
}
//Booking
.bookingDetail {
  padding-top: 50px;
  border-top: 0.1px solid lightgrey;
  .bookingList {
    display: flex;
    justify-content: space-around;
    .bookingTabFirstList {
      // width: 65%;
      .homeInfoSection .homeInfo {
        .homeInfoList {
          .homeInfoListItems {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            ul {
              display: flex;
              flex-direction: column;
              li {
                font-size: 0.8rem;
              }
            }
          }
        }
        .contactHost {
          div {
            width: 70%;
            p {
              padding-bottom: 25px;
            }
            b {
              text-decoration: underline;
            }
          }
        }
        .arrangements {
          .arrangementsContents {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 70%;
            li {
              width: 40%;
              margin: 0 10px;
              div {
                padding: 10px;
              }
            }
          }
        }
        .amenities {
          font-size: 1.1rem;
          button {
            margin-top: 20px;
          }
          .columns .column p {
            padding: 5px 0;
          }
        }
      }
    }
    .bookingTabSecondList {
      width: 35%;
      .bookingTab {
        .bookingGrid {
          .div1 {
            border-right: 0.1px solid lightgrey;
            grid-area: 1 / 1 / 2 / 2;
          }
          .div2 {
            grid-area: 1 / 2 / 2 / 3;
          }
          .div3 {
            border-top: 0.1px solid lightgrey;
            grid-area: 2 / 1 / 3 / 3;
          }
        }
        .bookingPrice {
          width: 90%;
          margin: 0 auto;
          p {
            margin-bottom: 0;
          }
          .columns {
            padding: 5px;
            border-bottom: 0.1px solid lightgrey;

            display: flex;
            justify-content: space-between;
            .column:first-child {
              display: flex;
              justify-content: flex-start;
              flex-direction: column;
            }
            .column:last-child {
              display: flex;
              align-items: flex-end;
              flex-direction: column;
            }
          }
        }
        .total {
          p {
            margin-bottom: 0;
          }
          button {
            width: 80%;
            // margin: 0 auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .bookingTabSecondList {
    display: none;
  }
  .heroCardCarousel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    .card1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .card2 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .card3 {
      grid-area: 3 / 1 / 4 / 2;
    }
  }

  .container100 {
    .cardCarousel {
      // width: 110%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      .div1 {
        grid-area: 1 / 1 / 3 / 3;
      }
      .div2,
      .div3,
      .div4 {
        display: none;
      }
    }
  }

  .informed .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .column1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .column2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .column3 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .column4 {
      grid-area: 2 / 2 / 3 / 3;
    }
  }

  .profileContents .personalInfoMain {
    .personalInfoLeft {
      width: 100%;
      .personalInfoBox {
        .lastInfoBox {
          border-bottom: none;
        }
        .infoCard1 {
          display: block;
          // margin-top: 10px;
          padding: 15px;
          border: 1px solid black;
        }
      }
    }
    .personalInfoRight {
      display: none;
    }
  }
}

//Contents
.button.is-rounded {
  margin-right: 10px;
}
.roundBorder {
  border-radius: 0.2rem 0.2rem 0 0;
}
@media only screen and (max-width: 680px) {
}
//Home
nav {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .firstNav .firstNavUl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    font-size: 0.8rem;
  }
}
.blackBox {
  box-sizing: border-box;
  border-radius: 15%;
  background-color: #000;
  color: $white;
  padding: 0 5px;
}

.image {
  position: relative;
  img {
    border-radius: 10px;
  }
}

.text-block {
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.596);
  width: 100%;
  border-radius: 0 0 10px 10px;
  height: 80px;
  font-size: 0.9rem;
  p:nth-child(1) {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 1550px) {
  .text-block p:nth-child(1) {
    margin-bottom: 0px;
  }
}

//Profile
.profileContents {
  margin: 0 auto;
  width: 80%;
  .profileNav .pageNav {
    display: block;
    span {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
  .profileNav .pageTitle {
    font-weight: bold;
    font-size: 3rem;
  }
  .personalInfoMain {
    display: flex;
    justify-content: space-between;
    .personalInfoLeft {
      width: 55%;
      .personalInfoBox {
        ul {
          border-bottom: 0.1px solid black;
          padding: 30px 5px 30px 5px;
          display: flex;
          justify-content: space-between;
          .infoBoxLeft {
            width: 90%;
            .userName {
              font-weight: bold;
              font-size: 1.3rem;
            }
            .userNameAnswer {
              font-size: 1.2rem;
            }
          }
          .editBox {
            display: flex;
            justify-content: flex-end;
            width: 10%;
            span {
              font-weight: bold;
              font-size: 1.2rem;
            }
          }
        }
        .infoCard1 {
          display: none;
        }
      }
    }
    .personalInfoRight {
      display: flex;
      justify-content: flex-end;
      width: 45%;
      .infoCard2 {
        box-sizing: border-box;
        width: 55%;
        border: 1px solid black;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .profileContents .personalInfoMain {
    .personalInfoLeft {
      width: 100%;
      .personalInfoBox {
        .lastInfoBox {
          border-bottom: none;
        }
        .infoCard1 {
          display: block;
          // margin-top: 10px;
          padding: 15px;
          border: 1px solid black;
        }
      }
    }
    .personalInfoRight {
      display: none;
    }
  }
}

//Detail
.noBorder {
  border: none;
  height: 100%;
}
@media only screen and (max-width: 850px) {
  .bookingTabSecondList {
    display: none;
  }
  .heroCardCarousel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    .card1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .card2 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .card3 {
      grid-area: 3 / 1 / 4 / 2;
    }
  }

  .container100 {
    .cardCarousel {
      // width: 110%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      .div1 {
        grid-area: 1 / 1 / 3 / 3;
      }
      .div2,
      .div3,
      .div4 {
        display: none;
      }
    }
  }

  .informed .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .column1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .column2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .column3 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .column4 {
      grid-area: 2 / 2 / 3 / 3;
    }
  }

  .profileContents .personalInfoMain {
    .personalInfoLeft {
      width: 100%;
      .personalInfoBox {
        .lastInfoBox {
          border-bottom: none;
        }
        .infoCard1 {
          display: block;
          // margin-top: 10px;
          padding: 15px;
          border: 1px solid black;
        }
      }
    }
    .personalInfoRight {
      display: none;
    }
  }
}

// Account
.accountDiv1 {
  grid-area: 1 / 1 / 2 / 2;
}
.accountDiv2 {
  grid-area: 1 / 2 / 2 / 3;
}
.accountDiv3 {
  grid-area: 1 / 3 / 2 / 4;
}
.accountDiv4 {
  grid-area: 2 / 1 / 3 / 2;
}
.accountDiv5 {
  grid-area: 2 / 2 / 3 / 3;
}
.accountDiv6 {
  grid-area: 2 / 3 / 3 / 4;
}
.accountDiv7 {
  grid-area: 3 / 1 / 4 / 2;
}
.accountDiv8 {
  grid-area: 3 / 2 / 4 / 3;
}

@media only screen and (max-width: 1000px) {
  .accountDiv1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .accountDiv2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .accountDiv3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .accountDiv4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .accountDiv5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .accountDiv6 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .accountDiv7 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .accountDiv8 {
    grid-area: 4 / 2 / 5 / 3;
  }
}

@media only screen and (max-width: 750px) {
  .accountDiv1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .accountDiv2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .accountDiv3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .accountDiv4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .accountDiv5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .accountDiv6 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .accountDiv7 {
    grid-area: 7 / 1 / 8 / 2;
  }
  .accountDiv8 {
    grid-area: 8 / 1 / 9 / 2;
  }
}

.mg-zero {
  margin: 0 auto;
}
.mg-t-10 {
  margin-top: 10px;
}
.mg-t-20 {
  margin-top: 20px;
}
.mg-tb-8 {
  margin: 8px 0;
}
.mg-tb-15 {
  margin: 15px 0;
}
.mg-t-50 {
  margin-top: 50px;
}
.mg-b-15 {
  margin: 0 0 15px 0;
}
.pd-10 {
  padding: 10px;
}
.pd-15 {
  padding: 15px;
}
.pd-20 {
  padding: 20px;
}
.mg-15 {
  margin: 15px;
}
.mg-20 {
  margin: 20px;
}
.pd-t-15 {
  padding-top: 15px;
}
.pd-t-25 {
  padding-top: 25px;
}
.pd-b-20 {
  padding-bottom: 20px;
}
.border-b-lg {
  border-bottom: 1px solid lightgrey;
}
body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.container1 {
  margin: 0 auto;
  max-width: 1900px;
  // background-color: $purple;
}
