// $mainCol: #BADA55;
@charset "utf-8";
@import "~bootstrap/scss/bootstrap";
// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

@import "./components/Section/section";
@import "./components/Header/header";
@import "./pages/Contents/Contents";
@import "./pages/Home/Home";
@import "./pages/Profile/Profile";
@import "./pages/Details/Details";
@import "./pages/Account/Account";

.mg-zero {
  margin: 0 auto;
}
.mg-t-10 {
  margin-top: 10px;
}
.mg-t-20 {
  margin-top: 20px;
}
.mg-tb-8 {
  margin: 8px 0;
}
.mg-tb-15 {
  margin: 15px 0;
}
.mg-t-50 {
  margin-top: 50px;
}
.mg-b-15 {
  margin: 0 0 15px 0;
}
.pd-10 {
  padding: 10px;
}
.pd-15 {
  padding: 15px;
}
.pd-20 {
  padding: 20px;
}
.mg-15 {
  margin: 15px;
}
.mg-20 {
  margin: 20px;
}
.pd-t-15 {
  padding-top: 15px;
}
.pd-t-25 {
  padding-top: 25px;
}
.pd-b-20 {
  padding-bottom: 20px;
}
.border-b-lg {
  border-bottom: 1px solid lightgrey;
}
body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.container1 {
  margin: 0 auto;
  max-width: 1900px;
  // background-color: $purple;
}
